numpy==1.26.4
scipy==1.13.1
pandas==2.2.2
pyyaml==6.0.2
tqdm==4.66.5
trimesh==4.4.9
vtk==9.3.1
pyvista==0.44.1
h5py==3.11.0
torch==2.4.1
torchvision==0.19.1
torchaudio==2.4.1
mamba-ssm==2.2.2
einops==0.8.0
scikit-image==0.24.0
matplotlib==3.9.2
